<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentUserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.CommentUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="worksid" jdbcType="INTEGER" property="worksid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="creat_at" jdbcType="BIGINT" property="creatAt" />
    <result column="creat_by" jdbcType="VARCHAR" property="creatBy" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="title" jdbcType="INTEGER" property="title" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, worksid, status, creat_at, creat_by, update_at, update_by, content, title, name, 
    pid
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.entity.CommentUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.CommentUser">
    insert into comment (id, worksid, status, 
      creat_at, creat_by, update_at, 
      update_by, content, title, 
      name, pid)
    values (#{id,jdbcType=INTEGER}, #{worksid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{creatAt,jdbcType=BIGINT}, #{creatBy,jdbcType=VARCHAR}, #{updateAt,jdbcType=BIGINT}, 
      #{updateBy,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{title,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.CommentUser">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="worksid != null">
        worksid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creatAt != null">
        creat_at,
      </if>
      <if test="creatBy != null">
        creat_by,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pid != null">
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="worksid != null">
        #{worksid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creatAt != null">
        #{creatAt,jdbcType=BIGINT},
      </if>
      <if test="creatBy != null">
        #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.CommentUser">
    update comment
    <set>
      <if test="worksid != null">
        worksid = #{worksid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creatAt != null">
        creat_at = #{creatAt,jdbcType=BIGINT},
      </if>
      <if test="creatBy != null">
        creat_by = #{creatBy,jdbcType=VARCHAR},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.CommentUser">
    update comment
    set worksid = #{worksid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      creat_at = #{creatAt,jdbcType=BIGINT},
      creat_by = #{creatBy,jdbcType=VARCHAR},
      update_at = #{updateAt,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      title = #{title,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>